@import "../utilities/colors";
@import "../utilities/layered-box-shadow";
@import "../utilities/font-sizes";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Karla");

:root {
    font-size: 6.25%;
}

body {
    background-color: $dark-black;
    color: $light-white;
}

h1 {
    font-size: 32rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Monsterrat", Verdana, Geneva, Tahoma, sans-serif;
}

p, div, span, button, a, li {
    font-family: "Karla", Arial, Helvetica, sans-serif;
    font-size: $normal-font-size;
}