@import "../../utilities/spacing";
@import "../../utilities/breakpoints";

.drawing-canvas-container button {
    margin-top: $default-spacing;

    &:not(:last-child) {
        margin-right: $default-spacing;
    }
}

.drawing-canvas-container {
    padding: $major-spacing 0;
}

.drawing-canvas-and-predictions-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    > *:first-child {
        margin-right: $default-spacing;
    }
}

@include md-media-query() {
    .drawing-canvas-and-predictions-container {
        flex-direction: column;

        > *:first-child {
            margin-right: 0;
        }
    }
}
