$dark-black: #212121;
$light-black: #323232;
$dark-white: #d3d3d3;
$primary-accent-color: #3700B3;
$secondary-accent-color: #CA9EFF;
$light-white: #ebebeb;

:export {
    LIGHT_WHITE: $light-white;
    SECONDARY_ACCENT: $secondary-accent-color;
}