@import '../../utilities/colors.module';
@import '../../utilities/font-sizes';
@import '../../utilities/transition-time';
@import '../../utilities/spacing';

.prediction {
    font-size: $normal-font-size * 2.5;
    
    &.pop-in {
        animation: pop-in 500ms ease-in-out;
    }

    @keyframes pop-in {
        0% { transform: scale(0); }
        50% { transform: scale(1.2); color: $secondary-accent-color; }
        100% { transform: scale(1); }
    }
}

.prediction-container {
    display: inline-block;
    max-width: 0;
    visibility: hidden;
    transition: 500ms;

    &.appear {
        max-width: 1000rem;
        visibility: visible;
    }
}