@import "../../../utilities/layered-box-shadow";
@import "../../../utilities/transition-time";
@import "../../../utilities/colors";
@import "../../../utilities/border-radius";
@import "./button-utilities";

.button {
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    cursor: pointer;

    border: none;
    outline: none;
    
    border-radius: $minor-border-radius;
    padding: $button-vertical-padding $button-horizontal-padding;
    box-shadow: get-layered-box-shadow();

    $button-transition-time: $default-transition-time;
    transition: 
        $button-transition-time background-color ease-in-out, 
        $button-transition-time color ease-in-out;

    &:after {
        content: "";
        display: none;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(200, 200, 200, 0.4);

        $size: 50rem;
        $margin: ($size/2)*-1;
        width: $size;
        height: $size;
        margin-top: $margin;
        margin-left: $margin;

        top: 50%;
        left: 50%;

        animation: ripple 1.5s;
        opacity: 0;
    }

    &:focus:not(:active)::after {
        display: block;
    }

    @keyframes ripple {
        from { opacity: 1; transform: scale(0); }
        to { opacity: 0; transform: scale(10); }
    }

    &:disabled {
        opacity: 0.65;
        cursor: not-allowed;
        animation-play-state: paused;
    }
}