@import '../utilities/spacing';
@import '../utilities/colors';

$banner-header-font-size: 50rem;

.banner-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 $minor-spacing;
}

.banner-container {
    margin-top: -25vh;
    padding: 40rem;
    max-width: 650rem;

    .banner-header {
        font-weight: bold;
        font-size: $banner-header-font-size;
        color: $light-white;
        text-shadow: 2px 2px black;
        margin: 0;
        margin-bottom: 20rem;
        text-align: center;
        line-height: $banner-header-font-size + 10rem;
    }

    .banner-text-container {
        text-align: center;
        
        .banner-text {
            line-height: 1.3em;

            &, span { // .accent
                font-size: 20rem;
            }

            color: $dark-white;
        }
    }
}

.hide {
    opacity: 0;
}

.appear {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.go-down-icon {
    position: absolute;
    cursor: pointer;
    animation: bounce 2s infinite ease-in-out;
    bottom: $default-spacing;
    $color: $secondary-accent-color;
    color: $color;

    span { // .icon
        font-size: 30rem;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10rem); }
    60% { transform: translateY(-5rem); }
}

@keyframes ripple {
    from { opacity: 1; transform: scale(0); }
    to { opacity: 0; transform: scale(10); }
}