@import '../utilities/colors';
@import '../utilities/layered-box-shadow';

.drawing-canvas {
    background: $light-black;
    border-radius: 4rem;
    cursor: url(../../assets/pencil.svg) 0 25, auto;
    box-shadow: get-layered-box-shadow();
    touch-action: none;
}