@import '../utilities/spacing';

.icon-text {
    &, .icon {
        display: inline-flex;
        align-items: center;
    }    

    .icon {
        font-size: 1.15em;
        margin-right: $minor-spacing;
    }
}